@model IEnumerable<Web.Models.Receta>
@{
    ViewData["Title"] = "Buscador de Receta";
    ViewData["Subtitle"] = "Busca recetas segun sus ingredientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index">
    <div class="listTitle">
        <div>
            <h1>@ViewBag.Title</h1>
            <h6 class="text-secondary">@ViewBag.Subtitle</h6>
        </div>
        <div>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>

    <div class="form-group">
        <select
            multiple
            size="10"
            id="ingredientes"
            class="form-select"
            name="ingredientes"
            asp-items="ViewBag.Ingredientes" >
        </select>
    </div>
</form>
<br />
<div>
    <table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <div class="ui large star rating" data-id="@item.Id" data-rating="@item.Puntaje" data-max-rating="5"></div>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="Recetas" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {
    <script>
        $('.ui.rating').rating('setting', 'onRate', function(value) {
            var request = { 
                recetaId: $(this).data('id'),
                puntaje: value,
            }

            $.post("/Recetas/Puntaje", request, function (data) {})
                .done(function () {
                    location.reload();
                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {
                }); 
        });
    </script>
}