@model Web.Models.Receta

@{
    ViewData["Title"] = "Detalles";
    ViewData["Subtitle"] = "Ver información de la receta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listTitle">
    <div>
        <h1>@ViewBag.Title</h1>
        <h6 class="text-secondary">@ViewBag.Subtitle</h6>
    </div>
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index"><i class="bi bi-arrow-left-circle"></i></a>
    </div>
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEdicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEdicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>
        <dd class = "col-sm-10">
            <div class="ui large star rating" data-rating="@Html.DisplayFor(model => model.Puntaje)" data-max-rating="5"></div>
        </dd>
    </dl>

    <table>
        <thead>
            <tr>
                <th>
                    Ingrediente
                </th>
                <th>
                    Cantidad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ingredientes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingrediente.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $('.ui.rating').rating('disable');
    </script>
}