@model IEnumerable<Web.Models.Receta>

@{
    ViewData["Title"] = "Lista de recetas";
    ViewData["Subtitle"] = "Administre las recetas de la aplicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="listTitle">
    <div>
        <h1>@ViewBag.Title</h1>
        <h6 class="text-secondary">@ViewBag.Subtitle</h6>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Create">Nuevo</a>
    </div>
</div>

<table class="listTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEdicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEdicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
